@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');

@import url('http://fonts.cdnfonts.com/css/gotham');

* {
    /*    box-sizing: border-box;*/
}

html,
body {
    min-height: 100%;
    background: #fff;
    color: #000;
    padding: 0;
}

/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {

    text-rendering: optimizeLegibility;
    background-color: #f8f8f8;
}

/* sets the base font size for the document; turns on kerning pairs and ligatures */

body,
ul,
ol,
dl {
    margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
    display: block;
}

/* ensures that older browsers will display HTML5 elements correctly */

h1 {
    font-size: 1.4rem;
}

/* begins to set up font sizes relative to base rem – h1 has been used as an example */

p {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* sets hyphenation by default on paragraphs */

textarea {
    resize: vertical;
}

/* changes textarea resizing from "both" (UA default) to vertical only */

table {
    border-collapse: collapse;
}

td {
    padding: .5rem;
}

/* causes tables to actually look like tables */

img {
    border: none;
    max-width: 100%;
}

/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
    border: 0px;
}

/* removes the inner border effect from focused buttons for form elements in Firefox */

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="submit"] {
    -webkit-appearance: none;
}

/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */

input:required:after {
    color: #f00;
    content: " *";
}

/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid {
    background: #f00;
}

/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */

.right {
    float: right;
    margin-left: 2rem;
    clear: right;
}

.left {
    float: left;
    margin-right: 2rem;
    clear: left;
}

/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */

sub,
sup {
    line-height: 0;
}

section {
    margin: 0;
}


/*
*****************************************************************************************************
*****************End Of Starter File*****************************************************************
******************************************************************************************************/



.nav-bg {
    background-color: #f5f5f5;
}

nav ul {
    list-style: none;
}


.nav-div {
    background-color: #f5f5f5;
}

.nav-list-border {
    border-right: 1px solid #eaeaea;
}

.breadcrumb-section {
    background-image: url(imgs/bg-breadcrumb.webp);
    background-position: top center;
    background-size: cover;
    height: 45vh;
}

.breadcumb-products::before {
    content: " > ";
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    line-height: 21.4px;
    font-weight: 400;

}

.breadcrumb-div {
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.border-bot {
    border-bottom: 1px solid #eaeaea;
}

.breadcrumb-list {
    padding: 11px 0px;
    margin-bottom: 5px;
}

.breadcrumb-h1 {
    font-family: 'Gotham', sans-serif;
    padding: 90px 0 185px;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 10px;
}

.product-section {}

.product-div {
    margin-top: -105px;
    background-color: #f8f8f8;
    padding: 25px 15px;
}

..product-div-2 {
    padding: 0;
}

.product-div-2 h4 {
    padding-left: 15px;
}


.product-div-categories-h4 {
    position: relative;
    background: transparent;
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 10px;
    color: #212121;
    line-height: normal;
    margin: 5px 0;
}

.hero-section-div {
    width: 500px;
}

.hero-section-div-parent {
    top: 27%;
    left: 52%;
    right: 20%;

}

.hero-section-div span {
    margin-bottom: 2vh;
}

.hero-section-div h3 {
    margin: 0px;
}


.btn-hero-section {
    padding: 10px 20px;
    background-color: #fcfcfc;

    color: #212121;
    margin: 3vh 40px 10px 0px;

    text-transform: uppercase;
    margin-top: 3vh;
    transition: all .3s ease;
    animation-name: fade;
    animation-delay: 2s;
    animation-duration: 1s;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}

.price-div {
    background-color: #ffffff;
    padding: 10px 10px 15px 10px;
    justify-content: space-between;

}


.price-div div h5 {
    margin: 0px 0px 5px 0px;
}

.product-cart-icon-div i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cart-icon {

    background: #444444;
    color: #fff;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #444444;
    display: block;
    height: 40px;
    width: 20px;
    line-height: 38px;
    text-align: center;
    padding: 0 10px;
    border-radius: 50%;
    transition: all .3s ease 0s;
    cursor: pointer;

}

.price-tag-div {
    padding: 20px 20px 21px 20px;

}

.price-tag-div h5 {
    padding: 0;
    margin-bottom: 5px;
    margin-top: 0px;
}

.product-brand-poster-div {
    padding: 150px 0;
    margin: 20px 0;
    background: url(imgs/product-section-2/bg-palalax.webp) no-repeat center;
}

.review-img {
    transition: opacity .35s, transform .35s;
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    border: 0;
    padding: 0px 15px;
}

.footer-bg {
    background-color: #242424;
}

.margin-footer-list {
    margin-top: 5px;
    margin-bottom: 8px;
}

.footer-copyright-section-div {
    border-top: 1px solid #858585;
    padding-top: 25px;
    padding-bottom: 10px;
    color: #858585;
}

.footer-copyright-list {
    padding-left: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.footer-input:focus {
    background-color: #363636;
    border: border: 1px solid #363636;
    outline-width: 0;
}

.footer-input {
    width: 210px;
    background-color: #363636;
    border: 1px solid #363636;
    color: #858585;
    padding: 6px 12px;
    font-style: italic;

}

.footer-btn {
    padding-right: 10px;
    color: #CCCCCC;
    background-color: #363636;
    border: none;
}

.footer-div {
    max-width: 1200px;
    margin: auto;
}

.box-shadow-1 {
    overflow: hidden;
}

/*
*****************************************************************************************************
*****************Drop Down menu*****************************************************************
******************************************************************************************************/
.internal-ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
